.app {
  background-color: transparent;
  display: flex;
  flex: auto;
}

.css-qe297s {
  position: absolute;
  background-color: rgb(0, 0, 0);
  opacity: 0.4;
  top: 0px;
  left: 0px;
  z-index: 5;
  width: 100%;
  height: 100%;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.css-11brbng {
  position: absolute;
  background-color: #51545d;
  border-radius: 10px;
  top: 10vh;
  left: 25vw;
  z-index: 6;
  width: 50vw;
  height: 70vh;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  overflow-y: auto;
}

.infoo h1, .infoo h2, .infoo h3, .infoo p {
  padding-left: 2vw;
  padding-right: 2vw;
}

.infoo button {
  position: fixed;
  z-index: 6;
  padding: 0;
  margin-top: 1.3vh;
  margin-left: 94.6vw;
  float: right;
  background: none;
  border: none;
}

.infoo .main-tit {
  color: white;
  padding-left: 0.7rem;
}

.wrapper {
  background-color: rgb(255, 255, 255);
  padding-top: 5px;
  padding-bottom: 1rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
}

.ex-title {
  background-color: rgb(208, 208, 208);
  text-align: center;
  border-radius: 2rem;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 2rem;
  margin-right: 2rem;
}

.ex-em {
  font-style: italic;
}

.ex-st {
  font-weight: 700;
}

.ex-mark {
  background-color: #f8f840;
  color: #000;
  padding: 0;
}

.ex-del {
  text-decoration: line-through;
}

.ex-quote {
  color: rgba(0,0,0,.28);
  font-style: normal;
  font-weight: 400;
}

.ex-list {
  padding-bottom: 10px;
  padding-top: 5px;
}

.ex-list p {
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.ex-gre {
  color: green;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: rgb(208, 208, 208);
}

a:active {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: white;
}